In [1]:
# LTC_1_notebook/notebooks/FinderData.ipynb
# importing some libraries
import pandas as pd

In [2]:
def OpenerCouneterRows(path):
    """
    path: str Путь до файла .xlsx
    rerurn: data_exel DataFrame
            ncols list 
    
    Функция возвращает нам DataFrame в виде 
    исходного DataFrame с конкретными номерами
    столбцов, т.к. у исходного их нет
    """
    data_excel_head = pd.read_excel(path, nrows=50)
    ncols_data = data_excel_head.shape[1]
    ncols = []
    for col in range(ncols_data):
        ncols.append('Col{}'.format(col))

    data_excel = pd.read_excel(path, names=ncols)
    
    return data_excel, ncols

path = 'P:\Python Projects\LTC_1\SN-2012\Глава 1. Здания.xlsx'

data_excel, ncols = OpenerCouneterRows(path)

In [24]:
ncols

['Col0',
 'Col1',
 'Col2',
 'Col3',
 'Col4',
 'Col5',
 'Col6',
 'Col7',
 'Col8',
 'Col9',
 'Col10',
 'Col11',
 'Col12',
 'Col13',
 'Col14',
 'Col15',
 'Col16',
 'Col17',
 'Col18',
 'Col19',
 'Col20']

In [3]:
data_excel[10:35]

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,...,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20
10,1,NaN,2,NaN,3,NaN,4,5,6,NaN,...,7,NaN,NaN,8,9,10,NaN,NaN,11,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Раздел 1.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,NaN,1.1-3101-1-1/1,NaN,Разработка грунта внутри здания в котлованах,NaN,100 м3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,ЗП,NaN,NaN,NaN,126583.26,NaN,...,1,NaN,NaN,1,1,126583.26,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,ЭМ,NaN,NaN,NaN,98.79,NaN,...,1,NaN,NaN,1,1,98.79,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,в т.ч. ЗПМ,NaN,NaN,NaN,74.99,NaN,...,1,NaN,NaN,1,1,"(74,99)",NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,МР,NaN,NaN,NaN,15867.13,NaN,...,1,NaN,NaN,1,1,15867.13,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,НР от ЗП,NaN,%,70,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,88608.28,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,СП от ЗП,NaN,%,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12658.33,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,"НР и СП от ЗПМ (78,00% и 30,00%)",NaN,%,108,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,80.99,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,чел-ч,667,NaN,NaN,...,1,NaN,NaN,1,NaN,NaN,NaN,NaN,667,NaN
24,NaN,NaN,NaN,NaN,ЗТР,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,243896.78,NaN,NaN,243896.78,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2,NaN,1.1-3101-1-2/1,NaN,Разработка грунта внутри здания в траншеях,NaN,100 м3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,ЗП,NaN,NaN,NaN,105431.76,NaN,...,1,NaN,NaN,1,1,105431.76,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,ЭМ,NaN,NaN,NaN,59.22,NaN,...,1,NaN,NaN,1,1,59.22,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,в т.ч. ЗПМ,NaN,NaN,NaN,44.96,NaN,...,1,NaN,NaN,1,1,"(44,96)",NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,МР,NaN,NaN,NaN,7434.24,NaN,...,1,NaN,NaN,1,1,7434.24,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,НР от ЗП,NaN,%,70,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,73802.23,NaN,NaN,NaN,NaN

In [4]:
import re

Вытащить название раздела и запомнить
    функция_раздела
    если раздел запоминаем
Найти следующую не пустую строчку после строчки с разделом
    Заголовок работы и ее номер
    
Вытащить из нее данные

In [98]:
def searcher_row_razdel(data):
    """
        data: dataframe
        return: row (int)

        Функция ищет строчку, в которой находится №пп для того,
        чтобы потом взять эту строчку и вытянуть из нее необходимую
        шапку для будующей таблицы
    """
    # global n_row
    razdel_array = []
        
    for row, column in data.iterrows():
        # first
        for i in range(len(column)):
            # print(row, column[i])
            if re.search(r'\bРаздел\b', str(column[i])):
                razdel_array.append(column[i])
                    # return row
                n_row = row
                
        # second        
    return razdel_array, n_row
row_razdel, start_row = searcher_row_razdel(data_excel)

In [99]:
row_razdel

['Раздел 1.']

In [100]:
start_row

12

In [266]:
list_of_works_parts = [[], [], [], []]
for i in range(12):

    if (str(rows_[i][0]) == 'nan' and
        str(rows_[i][1]) == 'nan' and
        str(rows_[i][2]) == 'nan' and
        str(rows_[i][3]) == 'nan' and
        str(rows_[i][4]) != 'nan'):
        
        # Заполняем список частей разработки
        list_of_works_parts[0].append(rows_[i][4])
        
        # Заполняем спиок единиц измерений частей разработки, если nan, то 'Безразмерная'
        # Для ЗТР если nan то берем клетку по диагонали вверх
        if str(rows_[i][4]) == 'ЗТР':
            list_of_works_parts[1].append(rows_[i-1][6])
        elif str(rows_[i][6]) == 'nan' and str(rows_[i][4]) != 'ЗТР':
            list_of_works_parts[1].append('Безразмерная')
        else:
            list_of_works_parts[1].append(rows_[i][6])
        
        # Заполняем список кол-ва единиц, если nan, то 1
        # Для ЗТР если nan то берем клетку по диагонали вверх
        if str(rows_[i][4]) == 'ЗТР':
            list_of_works_parts[2].append(rows_[i-1][7])
        elif  str(rows_[i][7]) == 'nan':
            list_of_works_parts[2].append(1)
        else:
            list_of_works_parts[2].append(rows_[i][7])
            
        # Заполняем список затрат
        if str(rows_[i][4]) == 'ЗТР':
            list_of_works_parts[3].append(rows_[i-1][19])
        else:
            list_of_works_parts[3].append(rows_[i][16])
        # Для ЗТР если nan то берем клетку по диагонали вверх
    else:
        continue

        
list_of_works_parts

[['ЗП',
  'ЭМ',
  'в т.ч. ЗПМ',
  'МР',
  'НР от ЗП',
  'СП от ЗП',
  'НР и СП от ЗПМ (78,00% и 30,00%)',
  'ЗТР'],
 ['Безразмерная',
  'Безразмерная',
  'Безразмерная',
  'Безразмерная',
  '%',
  '%',
  '%',
  'чел-ч'],
 [1, 1, 1, 1, 70, 10, 108, 667],
 [126583.26, 98.79, '(74,99)', 15867.13, 88608.28, 12658.33, 80.99, 667]]

In [126]:
def make_rows(data, start_row):

    Row_list = []
  
    for index, rows in data[start_row + 1 :].iterrows():

        my_list = [rows.Col0, rows.Col1, rows.Col2, rows.Col3,
                   rows.Col4, rows.Col5, rows.Col6, rows.Col7,
                   rows.Col8, rows.Col9, rows.Col10, rows.Col11,
                   rows.Col12, rows.Col13, rows.Col14, rows.Col15,
                   rows.Col16, rows.Col17, rows.Col8, rows.Col19,
                   rows.Col20] 

        Row_list.append(my_list)
        

    return Row_list

rows_ = make_rows(data=data_excel, start_row=start_row)

In [267]:
list_of_razdel_nn = []
list_of_shifrs = []
list_of_works_janeral = []

# (rows_[i][4])

for i in range(100):
    # Составляем список подразделов
    if str(rows_[i][0]).isdigit():
        list_of_razdel_nn.append((rows_[i][0]))
    # Составляем список шифров
    if str(rows_[i][2]) != 'nan':
        list_of_shifrs.append(str(rows_[i][2]))
    if str(rows_[i][0]) != 'nan' and str(rows_[i][2]) != 'nan' and str(rows_[i][4]) != 'nan':
        list_of_works_janeral.append(str(rows_[i][4]))
    

print(list_of_razdel_nn)
print(list_of_shifrs)   
print(list_of_works_janeral)

['1', '2', '3', '4', '5', '6', '7']
['1.1-3101-1-1/1', '1.1-3101-1-2/1', '1.1-3101-2-1/1', '1.1-3101-2-2/1', '1.1-3101-3-1/1', '1.1-3101-3-2/1', '1.1-3101-4-1/1']
['Разработка грунта внутри здания в котлованах', 'Разработка грунта внутри здания в траншеях', 'Подсыпка грунта при изменении уровня пола в здании', 'Выемка грунта с погрузкой при изменении уровня пола в здании', 'Разработка грунта экскаваторами в стесненных условиях', 'Разработка грунта бульдозерами в стесненных условиях', 'Разработка грунта при подводке, смене или усилении фундаментов внутренние стены, глубина до 1,5 м']

In [268]:
# Example
d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
pd.DataFrame(data=d, index=[0, 1, 2, 3])

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [ ]:
def  GetSubWork(Row, n_row):
    """
    Row - строка на вход
    n_row - номер строки где начинается раздел
    поиск начинается со строки после номера раздела
    """
    # While пустая строка:
    while Row.is:
        Row+= 1

    if Это Итоги:
        return None, Row

    List = []

    Заполняем в List поля данной субработы: наименование цена количество и прочее

    return List, Row

In [ ]:
# Main concept

"""
def  GetSubWork(Row):
    while пустая строка:
        Row+= 1

    if Это Итоги:
        return None, Row

    List = []

    Заполняем в List поля данной субработы: наименование цена количество и прочее

    return List, Row

def GetWork(Row):
    if Раздел:
        Имя Раздела =

        Row+= 1

    while Пустая строка(Row):
        Row+= 1

    if EOF:
        return None

    List = []
    Заполняем List параметрами раздела - единица количество

    WorkList = []
    while True:
        CrWork, Row = GetSubWork(Row)

        if CrWork is None: break
        WorkList.append(CrWork)

    List.append(WorkList)

    return List, Row

List = []

while True:
    CrWork, Row = GetSubWork(Row)

    if CrWork is None: break
    List.append(CrWork)
    """

In [30]:
def Funck_searcher_fresh_data(data):
    
    # n_row = 1
    
    def searcher_row_razdel(data):
        """
        data: dataframe
        return: row (int)

        Функция ищет строчку, в которой находится №пп для того,
        чтобы потом взять эту строчку и вытянуть из нее необходимую
        шапку для будующей таблицы
        """
        # global n_row
        razdel_array = []
        fresh_data = []
        
        for row, column in data.iterrows():
            # first
            for i in range(len(column)):
                # print(row, column[i])
                if re.search(r'\bРаздел\b', str(column[i])):
                    razdel_array.append(column[i])
                    # return row
                    n_row = row
            # second        
            fresh_data.append(data[n_row + 2])
            return razdel_array, fresh_data, n_row
        
    result = searcher_row_razdel(data)
    return result

In [31]:
row_razdel = Funck_searcher_fresh_data(data_excel)

UnboundLocalError: local variable 'n_row' referenced before assignment

In [16]:
print(row_razdel)

None

In [ ]:
def target_columns(data, num_row):
    string = data.loc[num_row].dropna().to_list()
                
    return string